@model IEnumerable<SlideText>
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slide Text</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                             <th>
                                Title
                            </th>
                             <th>
                                Description
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/img/@item.Image" alt="image" />
                                </td>
                                <td>
                                    <a asp-area="FiorelloAdmin" asp-controller="SlideItem" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">
                                        <i class="mdi mdi-information-variant"></i>
                                    </a>
                                    <a asp-area="FiorelloAdmin" asp-controller="SlideItem" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">
                                        <i class="mdi mdi-grease-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>